CalibrusMAIN/Constellation/ConstellationWebServiceTest/ConstellationWebServiceTest/Service References/ConstellationWS/basic1511.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.DataType" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.Service.DataType.PricePlan" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd10" namespace="http://schemas.constellation.com/2012/05/16/Residential" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.Service" />
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential" />
  <xs:element name="GetUnSignedCustomerContractPDFByLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSignedCustomerContractPDFByLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetUnSignedCustomerContractPDFByLanguageResult" nillable="true" type="q1:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSignedUDSContractPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSignedUDSContractPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetUnSignedUDSContractPDFResult" nillable="true" type="q2:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportD2DContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q3:SignUpChoiceEnum" />
        <xs:element minOccurs="0" name="Base64ContractData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportD2DContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="ImportD2DContractResult" nillable="true" type="q4:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="contractType" type="q5:ContractType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q6:SignUpChoiceEnum" />
        <xs:element minOccurs="0" name="ContractData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="ImportContractResult" nillable="true" type="q7:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPromoCodeValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPromoCodeValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="IsPromoCodeValidResult" nillable="true" type="q8:BoolOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReferralCodeValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReferralCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsReferralCodeValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="IsReferralCodeValidResult" nillable="true" type="q9:BoolOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformCreditCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
        <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformCreditCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="PerformCreditCheckResult" nillable="true" type="q10:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReferenceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="CustomerDetail" nillable="true" type="q11:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReferenceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="SaveReferenceDataResult" nillable="true" type="q12:StringOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="CustomerDetail" nillable="true" type="q13:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="SaveCustomerSignUpResult" nillable="true" type="q14:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="CustomerDetail" nillable="true" type="q15:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="SaveCustomerSignUpByTypeResult" nillable="true" type="q16:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="CustomerDetail" nillable="true" type="q17:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="SaveCustomerSignUpMultipleResult" nillable="true" type="q18:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpSiebel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="CustomerDetail" nillable="true" type="q19:CustomerData" />
        <xs:element minOccurs="0" name="StatusId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerSignUpSiebelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="SaveCustomerSignUpSiebelResult" nillable="true" type="q20:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWelcomeEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendWelcomeEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="SendWelcomeEmailResult" nillable="true" type="q21:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReferralMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReferralMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="UpdateReferralMemberResult" nillable="true" type="q22:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTPVStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.DataType" minOccurs="0" name="status" type="q23:TPVStatusEnum" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTPVStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="UpdateTPVStatusResult" nillable="true" type="q24:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateReferralCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referralCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateReferralCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="ValidateReferralCodeResult" nillable="true" type="q25:ValidateReferralCodeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateReferralCodeStarTex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referralCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateReferralCodeStarTexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="ValidateReferralCodeStarTexResult" nillable="true" type="q26:ValidateReferralCodeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesAccountNumberAlreadyExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="SourceCompany" type="q27:SourceCompanyEnum" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="ProductType" type="q28:CommodityTypeEnum" />
        <xs:element minOccurs="0" name="UDC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCAccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesAccountNumberAlreadyExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="DoesAccountNumberAlreadyExistResult" nillable="true" type="q29:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMBCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMBCustomerResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetSMBCustomerResponseResult" nillable="true" type="q30:SMBCustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMBTPVStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.DataType" minOccurs="0" name="status" type="q31:TPVStatusEnum" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSMBTPVStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="UpdateSMBTPVStatusResult" nillable="true" type="q32:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricingPlanFromMX">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marketId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPricingPlanFromMXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.Service.DataType.PricePlan" minOccurs="0" name="GetPricingPlanFromMXResult" nillable="true" type="q33:PricePlanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerRenewalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerRenewalResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetCustomerRenewalResponseResult" nillable="true" type="q34:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRenewalTPVStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.DataType" minOccurs="0" name="status" type="q35:TPVStatusEnum" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRenewalTPVStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="UpdateRenewalTPVStatusResult" nillable="true" type="q36:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTPVVerificationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
        <xs:element minOccurs="0" name="VerificationCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q37:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTPVVerificationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="UpdateTPVVerificationCodeResult" nillable="true" type="q38:ArrayOfErrorMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataByDMPromoCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataByDMPromoCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetCustomerDataByDMPromoCodeResult" nillable="true" type="q39:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataByPersonalCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PersonalCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDataByPersonalCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetCustomerDataByPersonalCodeResult" nillable="true" type="q40:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTPVUpdateElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTPVUpdateElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="PostTPVUpdateElementResult" nillable="true" type="q41:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResidentialCreditCheckRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q42="http://schemas.constellation.com/2012/05/16/Residential" minOccurs="0" name="request" nillable="true" type="q42:ResidentialCreditRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitResidentialCreditCheckRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.constellation.com/2012/05/16/Residential" minOccurs="0" name="SubmitResidentialCreditCheckRequestResult" nillable="true" type="q43:ResidentialCreditResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseWithUDCAccountNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseId" type="xs:long" />
        <xs:element minOccurs="0" name="UDCAccountNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponseWithUDCAccountNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="UpdateResponseWithUDCAccountNumberResult" nillable="true" type="q44:BoolOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestPing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestPingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestAuthenticationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUdcZipCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="ServiceType" type="q45:ServiceTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUdcZipCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.Service" minOccurs="0" name="GetUdcZipCodesResult" nillable="true" type="q46:UdcZipCodesListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListingBySignUpType_PTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="serviceType" type="q47:ServiceTypeEnum" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="signUpType" type="q48:SignUpChoiceEnum" />
        <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListingBySignUpType_PTSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetPlanListingBySignUpType_PTSResult" nillable="true" type="q49:PlanListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetails_PTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlanId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanDetails_PTSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetPlanDetails_PTSResult" nillable="true" type="q50:PlanListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitchTypeGeorgia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitchTypeGeorgiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="GetSwitchTypeGeorgiaResult" nillable="true" type="q51:SwitchTypeListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitchTypeTexas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Esid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitchTypeTexasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="GetSwitchTypeTexasResult" nillable="true" type="q52:SwitchTypeListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveReferralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="ApproveReferralResult" nillable="true" type="q53:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReferralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="CancelReferralResult" nillable="true" type="q54:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCustomerSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCustomerSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="ConfirmCustomerSignUpResult" nillable="true" type="q55:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCustomerSignUpByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q56:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCustomerSignUpByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="ConfirmCustomerSignUpByTypeResult" nillable="true" type="q57:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferralCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referrerCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referrerAgencyId" type="xs:long" />
        <xs:element minOccurs="0" name="referrerValue" type="xs:long" />
        <xs:element minOccurs="0" name="refereeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refereeAgencyId" type="xs:long" />
        <xs:element minOccurs="0" name="refereeValue" type="xs:long" />
        <xs:element minOccurs="0" name="responseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferralCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="CreateReferralCustomResult" nillable="true" type="q58:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="referrerCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refereeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="CreateReferralResult" nillable="true" type="q59:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferralMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferralMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="CreateReferralMemberResult" nillable="true" type="q60:CreateReferralMemberResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractVersionPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VersionNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="Lang" type="q61:LanaguageEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractVersionPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetContractVersionPDFResult" nillable="true" type="q62:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByUDC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential" minOccurs="0" name="Key" type="q63:Content_UDCEnum" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignUpChoice" type="q64:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentByUDCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentByUDCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGlobal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential" minOccurs="0" name="Key" type="q65:Content_GlobalEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGlobalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentGlobalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGeneric">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentGenericResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentGenericResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContractHTML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContractHTMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetCustomerContractHTMLResult" nillable="true" type="q66:StringOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponseId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetCustomerResponseResult" nillable="true" type="q67:CustomerOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisclaimerText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignUpType" type="q68:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisclaimerTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDisclaimerTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetPlanListingResult" nillable="true" type="q69:PlanListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListingBySignUpType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="serviceType" type="q70:ServiceTypeEnum" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="signUpType" type="q71:SignUpChoiceEnum" />
        <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListingBySignUpTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetPlanListingBySignUpTypeResult" nillable="true" type="q72:PlanListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanContractPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlanId" type="xs:int" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanContractPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetPlanContractPDFResult" nillable="true" type="q73:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanUDSContractPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PlanId" type="xs:int" />
        <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanUDSContractPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetPlanUDSContractPDFResult" nillable="true" type="q74:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferrals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferralsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="GetReferralsResult" nillable="true" type="q75:GetReferralsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferralMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferralMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="GetReferralMemberResult" nillable="true" type="q76:GetReferralMemberResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedCustomerContractPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedCustomerContractPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetSignedCustomerContractPDFResult" nillable="true" type="q77:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedUDSContractPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedUDSContractPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetSignedUDSContractPDFResult" nillable="true" type="q78:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetStatesListResult" nillable="true" type="q79:AppStateListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q80:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetStatesListByTypeResult" nillable="true" type="q81:AppStateListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateUDCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateUDCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetStateUDCListResult" nillable="true" type="q82:AppStateUDCListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTexasAddressByESID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ESID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTexasAddressByESIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="GetTexasAddressByESIDResult" nillable="true" type="q83:ServiceLocationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTexasAddressByText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTexasAddressByTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/ResidentialPartnerService" minOccurs="0" name="GetTexasAddressByTextResult" nillable="true" type="q84:ServiceLocationListResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetUDCListResult" nillable="true" type="q85:AppUDCListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q86:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetUDCListByTypeResult" nillable="true" type="q87:AppUDCListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
        <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetCountyListResult" nillable="true" type="q88:LookUpOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCListViaZip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCListViaZipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetUDCListViaZipResult" nillable="true" type="q89:AppUDCListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetUDCDetailResult" nillable="true" type="q90:AppUDCListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCDetailByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UDCCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Constellation.CNE.Residential.Data" minOccurs="0" name="SignupType" type="q91:SignUpChoiceEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUDCDetailByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Residential.DataType" minOccurs="0" name="GetUDCDetailByTypeResult" nillable="true" type="q92:AppUDCListOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSignedCustomerContractPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnSignedCustomerContractPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Constellation.CNE.SMB.API.Core.DataType" minOccurs="0" name="GetUnSignedCustomerContractPDFResult" nillable="true" type="q93:ByteOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>