CalibrusMAIN/Constellation/ConstellationWebServiceTest/ConstellationWebServiceTest/Service References/ConstellationWS/basic1514.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.constellation.com/2012/05/16/Residential" elementFormDefault="qualified" targetNamespace="http://schemas.constellation.com/2012/05/16/Residential" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://partners.constellation.com/PartnerService/ResidentialPartnerService.svc/basic?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/CreditRulesEngineDomain.ResidentialService" />
  <xs:complexType name="ResidentialCreditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CreditRulesEngineDomain.ResidentialService" name="Markets" nillable="true" type="q1:ArrayOfMarkets" />
      <xs:element minOccurs="0" name="CustomerType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditExceptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResidentialCreditRequest" nillable="true" type="tns:ResidentialCreditRequest" />
  <xs:complexType name="ResidentialCreditResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CreditRulesEngineDomain.ResidentialService" minOccurs="0" name="DecisionByMarket" nillable="true" type="q2:ArrayOfDecisionList" />
      <xs:element name="CreditGrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResidentialCreditResponse" nillable="true" type="tns:ResidentialCreditResponse" />
</xs:schema>