CalibrusMAIN/Constellation/ConstellationWebServiceTest/ConstellationWebServiceTest/Service References/ConstellationWS/basic156.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Constellation.CNE.SocialSale.MX.PricePlan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Constellation.CNE.SocialSale.MX.PricePlan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPricePlanInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PricePlanInfo" nillable="true" type="tns:PricePlanInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPricePlanInfo" nillable="true" type="tns:ArrayOfPricePlanInfo" />
  <xs:complexType name="PricePlanInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancellationFee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonthlyServiceFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="Plan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="PricingOffer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Term" type="xs:int" />
      <xs:element minOccurs="0" name="TermsAndConditionsURI" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricePlanInfo" nillable="true" type="tns:PricePlanInfo" />
</xs:schema>