CalibrusMAIN/Spark/SparkTrendApparelDailyAgentTxt/SparkTrendApparelDailyAgentTxt/Web References/DateTimeService/datetime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.calibrus.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.calibrus.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DateTime Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.calibrus.com/">
      <s:element name="GetDateTime">
        <s:complexType />
      </s:element>
      <s:element name="GetDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateTime" />
  </wsdl:message>
  <wsdl:message name="GetDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="Reporting_x0020_DateTime_x0020_ServiceSoap">
    <wsdl:operation name="GetDateTime">
      <wsdl:input message="tns:GetDateTimeSoapIn" />
      <wsdl:output message="tns:GetDateTimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Reporting_x0020_DateTime_x0020_ServiceSoap" type="tns:Reporting_x0020_DateTime_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateTime">
      <soap:operation soapAction="http://www.calibrus.com/GetDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Reporting_x0020_DateTime_x0020_ServiceSoap12" type="tns:Reporting_x0020_DateTime_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDateTime">
      <soap12:operation soapAction="http://www.calibrus.com/GetDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reporting_x0020_DateTime_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DateTime Service</wsdl:documentation>
    <wsdl:port name="Reporting_x0020_DateTime_x0020_ServiceSoap" binding="tns:Reporting_x0020_DateTime_x0020_ServiceSoap">
      <soap:address location="http://10.100.61.70/datetimeservice/datetime.asmx" />
    </wsdl:port>
    <wsdl:port name="Reporting_x0020_DateTime_x0020_ServiceSoap12" binding="tns:Reporting_x0020_DateTime_x0020_ServiceSoap12">
      <soap12:address location="http://10.100.61.70/datetimeservice/datetime.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>